/* ---- BACKGROUND ---- */
body{ 
    background-color: #e1e4d9;
background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}


/* ---- LINK ---- */
a{
    color:#4E8BB9;  
}
a:hover{
    color:#42741B;
}
a:visited{
    color:rgb(45, 79, 105);
}

/* ---- BUTTON ---- */
a.button:visited{
    color:#E1E3D8;
}
a.button:hover{
    color:#42741B;
}
.button:hover{
    color:#42741B;
    background-color: transparent;
    border: 1px solid #42741B;
}


/* ---- FONT ---- */
@font-face {
    font-family: Open Sourcery;
    src: url("../assets/OpenSourceryRegular.otf") format('opentype');
    font-style: normal;
}

/* ---- SPACE ---- */
.spacer{
    height: 6.5rem;
}
.block{
    margin-top: 10%;
    margin-bottom: 10%;
}

/*----- NAVBAR -----*/
.navbar{
    border-bottom: 1px solid #38383b;
}
ul.navbar-list{
    list-style: none;
}
.navbar-item{
    float: left;
    margin-right: 35px;
}

/*---- COLORS -----*/
.dark{
    background-color: #38383b;
    color: #E1E3D8;
}
.light{
    background-color: #E1E3D8;
}
.red{
    background-color: #BD332C;
}
.yellow{
    background-color: #DDC62E;
}
.blue{
    background-color: #4E8BB9;
}
.green{
    background-color: #42741B;
}

/*---- IFRAME -----*/
.tiptext {
    color:#4E8BB9; 
    cursor:pointer;
}
.description {
    display:none;
    position:absolute;
    border:1px solid #42741B;
    width:400px;
    height:400px;
}