/* ---- BACKGROUND ---- */
.dots-1 { 
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSd3aGl0ZScgLz4KICA8cmVjdCB4PScwJyB5PScwJyB3aWR0aD0nMScgaGVpZ2h0PScxJyBmaWxsPSdibGFjaycgLz4KPC9zdmc+"); 
    background-repeat: repeat; 
}


/* ---- LINK ---- */
a{
    color:#4E8BB9;  
}
a:hover{
    color:#42741B;
}
a:visited{
    color:rgb(45, 79, 105);
}

/* ---- BUTTON ---- */
a.button:visited{
    color:#E1E3D8;
}
a.button:hover{
    color:#42741B;
}
.button:hover{
    color:#42741B;
    background-color: transparent;
    border: 1px solid #42741B;
}


/* ---- FONT ---- */
@font-face {
    font-family: Open Sourcery;
    src: url("../assets/OpenSourceryRegular.otf") format('opentype');
    font-style: normal;
}

/* ---- SPACE ---- */
.spacer{
    height: 6.5rem;
}
.block{
    margin-top: 10%;
    margin-bottom: 10%;
}

/*----- NAVBAR -----*/
.navbar{
    border-bottom: 1px solid #38383b;
}
ul.navbar-list{
    list-style: none;
}
.navbar-item{
    float: left;
    margin-right: 35px;
}

/*---- COLORS -----*/
.dark{
    background-color: #38383b;
    color: #E1E3D8;
}
.light{
    background-color: #E1E3D8;
}
.red{
    background-color: #BD332C;
}
.yellow{
    background-color: #DDC62E;
}
.blue{
    background-color: #4E8BB9;
}
.green{
    background-color: #42741B;
}

/*---- IFRAME -----*/
.tiptext {
    color:#4E8BB9; 
    cursor:pointer;
}
.description {
    display:none;
    position:absolute;
    border:1px solid #42741B;
    width:400px;
    height:400px;
}